<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.bank.web.mapper.MemberMapper">
 	<select id="selectMember" resultType="com.bank.web.domain.MemberVO" 
 	parameterType="com.bank.web.domain.MemberVO">
 		select * from member 
 		where userid = #{userid} and password = #{password}
 	</select>
 	<insert id="insertMember" parameterType="com.bank.web.domain.MemberVO">
 		
 		insert into member(userid,password,name,addr,birth) 
 		values (#{userid},#{password},#{name},#{addr},#{birth})
 	</insert>
 	<select id="selectUserid" resultType="string" parameterType="string">
 		select userid from member 
 		where userid = #{userid}
 	</select>
 	<update id="updateMember" parameterType="com.bank.web.domain.MemberVO">
 		update member set password = #{password}, addr = #{addr}
 		where userid = #{userid}
 	</update>
 	<delete id="deleteMember" parameterType="string">
 		delete from member where userid = #{userid}
 	</delete>
 </mapper>
 